p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 0px;
  padding: 0px 0px;
  height: 100%;
  width: 100%;
}
.icon {
  margin: 0px 0px;
  padding: 0px 0px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: var(--secondary-color);
}

.remove {
  margin-left: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
