h1 {
  letter-spacing: 2px;
  font-weight: 300;
}

div {
  margin: 8px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
label {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 18px;
  width: 40%;
  padding: 10px 7px;
  text-align: center;
}
a {
  text-decoration: none;
}

.password-div {
  margin-bottom: 20px;
}
