@use "../../../responsive.scss" as responsive;
:host {
  display: flex;
  justify-content: center;
}
mat-card {
  width: 90%;
  @include responsive.for-size(Medium) {
    width: 80%;
  }
  @include responsive.for-size(Large) {
    width: 70%;
  }
  @include responsive.for-size(XLarge) {
    width: 60%;
  }
}
.list-content {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  height: 100%;
  width: 100%;
}

.todo-text {
  line-height: 40px;
}
.back {
  position: fixed;
  bottom: 40px;
  left: 40px;
}
.fab {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.edit-todo-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
