{{ todoListPayload | json }}
<mat-card *ngIf="todoListPayload">
  <mat-card-title>{{ todoListPayload.name }}</mat-card-title>
  <mat-selection-list #todos>
    <mat-list-option
      checkboxPosition="before"
      [selected]="todo.isFinished"
      *ngFor="let todo of todoListPayload.todos"
      disableRipple="true"
    >
      <div class="list-content">
        <span class="todo-text">
          {{ todo.name }}
        </span>
        <button
          appClickStopPropagation
          (click)="moreVertIsOpen = !moreVertIsOpen"
          #moreVert="cdkOverlayOrigin"
          cdk-overlay-origin
          mat-icon-button
        >
          <mat-icon>edit</mat-icon>
        </button>
        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayOrigin]="moreVert"
          [cdkConnectedOverlayOpen]="moreVertIsOpen"
        >
          <mat-card class="edit-todo-overlay"> 'more vert menu' </mat-card>
        </ng-template>

        <button
          appClickStopPropagation
          (click)="deleteTodo(todo.name)"
          mat-icon-button
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-option>
  </mat-selection-list>

  <p>Completed todos: {{ todos.selectedOptions.selected.length }}</p>
</mat-card>
<button
  #trigger="cdkOverlayOrigin"
  cdkOverlayOrigin
  (click)="todoMenuIsOpen = !todoMenuIsOpen"
  class="fab"
  mat-fab
>
  <mat-icon>add</mat-icon>
</button>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="todoMenuIsOpen"
>
  <mat-card class="edit-todo-overlay">
    <app-add-todo-overlay
      (closeWindowEvent)="closeWindow($event)"
      (newNameEvent)="addTodo($event)"
    >
    </app-add-todo-overlay>
  </mat-card>
</ng-template>
