.list-content {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  height: 100%;
  width: 100%;
}

.todo-text {
  line-height: 40px;
}
.fab {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.edit-todo-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
