a {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  width: 80%;
  z-index: 3;
}
app-todolist {
  display: grid;
  grid-template-columns: 4fr 3fr 1fr 1fr;
  grid-template-rows: 1f;
  width: 100%;
  padding: 1.5vw;
  cursor: pointer;
}

.add-todo {
  position: fixed;
  bottom: 6vw;
  right: 6vw;
  height: 6vw;
  width: 6vw;
  border-radius: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  background-color: var(--secondary-color);
}

.add-todo:hover {
  background-color: var(--primary-color);
}
.add-todo:active {
  background-color: var(--active);
}
