@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $background: map.get($color-config, "background");
  $foreground: map.get($color-config, "foreground");

  .inherit-theme {
    // Read the 500 hue from the primary color palette.
    background-color: mat.get-color-from-palette($primary-palette, 500);
    color: mat.get-color-from-palette($accent-palette, 200);
  }
  a {
    color: mat.get-color-from-palette($accent-palette, 200);
  }
  .inheritBackground {
    background-color: map.get($background, "background");
    color: map.get($foreground, "base");
  }
  .inherit-background {
    background-color: map.get($background, "background");
    color: map.get($foreground, "base");
  }
}

@mixin typography($theme) {
  // Get the typography config from the theme.
  $typography-config: mat.get-typography-config($theme);

  .inherit-theme {
    font-family: mat.font-family($typography-config);
  }
  .inherit-typography {
    font-family: mat.font-family($typography-config);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
