app-message-box {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: var(--secondary-color);
}
.sign-out {
  position: fixed;
  top: 1vw;
  right: 3vw;
  cursor: pointer;
}

.sign-out:hover {
  color: var(--secondary-color);
}
.sign-out:active {
  color: var(--active);
}
