:host {
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  min-width: 50%;
  max-height: 80%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  min-width: 80%;
}
mat-card-header {
  display: flex;
  justify-content: center;
  padding: 35px;
}
mat-card-title {
  align-items: center;
}

mat-form-field {
  width: 80%;
  margin: 0px;
}
.hints {
  width: 80%;
  margin: {
    bottom: 20px;
  }
}
