<mat-toolbar color="primary">
  <span *ngIf="username">{{ username }}</span>
  <span class="example-spacer"></span>
  <a href="">
    <button
      mat-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      (click)="signOut()"
    >
      Sign Out
    </button>
  </a>
  <a href="">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>home</mat-icon>
    </button>
  </a>
</mat-toolbar>

<router-outlet> </router-outlet>
