<h1>TodoLists</h1>

<div *ngIf="todoLists">
  <mat-card *ngFor="let todoList of todoLists">
    <mat-card-title>{{ todoList.name }}</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
    <mat-card-actions>
      <a [routerLink]="todoListRoute + todoList.id">
        <button mat-raised-button color="primary">VIEW</button>
      </a>
      <button mat-button color="accent">RENAME</button>
      <button mat-button (click)="deleteTodoList(todoList.id)" color="warn">
        DELETE
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<button
  #trigger="cdkOverlayOrigin"
  cdkOverlayOrigin
  (click)="addListMenuIsOpen = !addListMenuIsOpen"
  class="fab"
  mat-fab
>
  <mat-icon>add</mat-icon>
</button>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="addListMenuIsOpen"
>
  <mat-card class="add-list-overlay">
    <app-add-list-overlay (newName)="addTodoList($event)">
    </app-add-list-overlay>
    {{ newListsName }}
  </mat-card>
</ng-template>
