:host {
  min-height: 100vh;
  min-width: 100vw;
}

mat-card {
  margin: {
    bottom: 5px;
  }
}

.add-list-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fab {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
