h1>Sign In</h1>

<form (ngSubmit)="signIn()" [formGroup]="signInForm">
  <div>
    <label>Username:</label>
    <input inputmode="text" #username formControlName="username" />
  </div>
  <div class="password-div">
    <label>Password: </label>
    <input type="password" formControlName="password" />
  </div>
  <div *ngIf="!isValid" class="validate">
    {{ message }}
  </div>
  <span> <a routerLink="/register">Register</a> to sign in. </span>
  <button [disabled]="!isValid" type="submit">Sign In</button>
</form>
