/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #ff7;
  --secondary-color: #f77;
  --active: #da2;
  --light-gray: #eee;
  --gray: #999;
  --dark-gray: #444;
}
html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--dark-gray);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light-gray);
}
app-root {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
app-todolists {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid white;
}

app-view-todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid white;
}
